<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <style>
        body{
            background-color: aqua;
        }
        button{
            border-radius: 8px;
            background-color: aquamarine;
            color: brown;
            width: 90px;
            height: 6vh;
        }
        button:hover{
            background-color: indianred;
        }
    </style>
</head>
<body>
    <h1>Welcome to Gallery</h1>
    <a href="/"><button>Home</button></a>
    <a href="/about"><button>About</button></a>
    <a href="/gallery"><button>Gallery</button></a>

</body>
</html>